@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-family: "Nunito", serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1321;
    font-size: 24px;
    padding: 24px 48px;
}

#logo{
    color: #F9FAF8;
}

/* header done */

/* main content */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #748CAB;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
    width: 50%;
    height: 90%;
    border: 2px solid #0D1321;
    border-radius: 15px;
    gap: 16px;
    background-color: #3E5C76;
    color: #F9FAF8;
    transition: 0.2s all linear;
}

#card:hover{
    box-shadow: -3px 3px 10px #0D1321;
    transition: 0.3s all linear;
}

#question{
    font-size: 36px;
}

#answer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
}

#buttons input{
    width: 100px;
    padding: 8px;
    font-size: 18px;
    background-color: #1D2D44;
    color: #E5E7EB;
    border-radius: 10px;
    border: 1px solid #0D1321;
    transition: 0.2s all linear;
}

#buttons input:hover{
    cursor: pointer;
    box-shadow: -3px 3px 10px #1f2e3c;
    transition: 0.2s all linear;
}

#choices{
    flex-shrink: 0;
    padding-left: 18px;
}

.choice{
    appearance: none;
    border: 2px solid #999;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: 0.2s all linear;
}

.choice:checked{
    border: 5px solid #1D2D44 ;
}

/* main content done */

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    background-color: #0D1321;
    font-size: 18px;
    color: #E5E7EB;
    padding: 32px;
}

/* footer done */

ul{
    display: flex;
    list-style: none;
    padding: 0;
    font-size: 18px;
    gap: 48px; 
}

a{
    text-decoration: none;
    color: #E5E7EB;
}



label{
    font-size: 24px;
}

/* media queryyyy */

@media(max-width:700px){
    header{
        flex-direction: column;
        align-items: center;
        padding: 8px;
    }

    footer{
        padding: 24px 8px;
    }

    #card{
        width: 95%;
    }

    #question{
        font-size: 24px;
    }

    #choices{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

}